  <div class="jumbotron text-center">
    <h1>Candidate-Statistics:</h1>
    <h2>Some interesting statistics about our candidates on the site:</h2> 
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h2>Gender:</h2>
        <h3>Female</h3>
        <input type="text" class="form-control" id="sexFemale" name="sexFemale"/>
           <br/>
        <h3>Male</h3>
        <input type="text" class="form-control" id="sexMale" name="sexMale"/>
      </div>
      <div class="col-sm-3">
        <h2>Area:</h2>
          <h3>Center</h3>
          <input type="text" class="form-control" id="center" name="center"/>
           <br/>
          <h3>North</h3>
          <input type="text" class="form-control" id="north" name="north"/>
           <br/>
          <h3>South</h3>
          <input type="text" class="form-control" id="south" name="south"/>
      </div>
      <div class="col-sm-3">
        <h2>Age:</h2>
        <h3>20 - 25</h3>
        <input type="text" class="form-control" id="smallAge" name="smallAge"/>
           <br/>
        <h3>25 - 30</h3>
        <input type="text" class="form-control" id="middleAge" name="middleAge"/>
           <br/>
        <h3>30 - 40 </h3>
        <input type="text" class="form-control" id="bigAge" name="bigAge"/>
        </div>
     <div class="col-sm-3">
      <h2 color="red">Academic:</h2>
      <br/><br/>
      <input type="text" class="form-control" id="academic" name="academic"/>
      </div>
    </div>
  </div>
  